<!DOCTYPE html>
<html>
  <head>
    <title>HackerNews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class "clearfix">
      <div class="left-nav">
        <ul>
          <li> <%= link_to "Home", categories_path  %></li>
        </ul>
      </div>

      <div class="right-nav">
        <ul>
          <li><%= link_to "Add a New Category", new_category_path %> </li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
